::-webkit-scrollbar{
  display: none;
  width: 0;
  margin: 0;
}




.section{
    height: 8vh;
    background-color: #000;
    width: 100%;
    margin: 0;
}
.logo-img{
  height: 8vh;
  width: 30vh;
  margin-top: 1px;
  margin: 0;
  padding-left: 10px;

}
.navbar{
    height:90%;
    color: #000;
}
.nav-item .nav-link{
    font-size: 14px;
    color: black ;
    font-family: Helvetica ;
    font-weight: lighter;
}
nav .navbar-collapse{

}

.left-row{
    flex-basis:0;
    margin-top: 15px;
    margin-right: 0px;
    align-items: center;
}
/* Set the gradient */
 #shareef{
  
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     
  }
  .card-img-top{
    max-height: 191px;
    max-width: 286;
  }
     
     footer{
      background: #000;
      width: 100%;
      height: 12vh;
      margin: 0;
     }
     .flex-container {
      width: 20px; height: 20px; margin: 0 15px 5px 0;
      margin-left: 15px;
     }
     
    

@media screen and (max-height:500px) {
  footer{
    background: #000;
    width: 100%;
    height: 29vh;
    margin: 0;
   }
   .flex-container {
    width: 20px; height: 20px; margin: 0 15px 5px 0;
   }
   .logo-img{
    height: 8vh;
    width: 30vh;
    margin-top: 1px;
    margin: 0;
}
}
@media screen and (max-height:250px) {
  footer{
    background: #000;
    width: 100%;
    height: 29vh;
    margin: 0;
   }
   .flex-container {
    width: 20px; height: 20px; margin: 0 15px 5px 0;
   }
   .logo-img{
    height: 40vh;
    width: 80vh;
    margin-top: 1px;
    margin: 0;
}
}
@media screen and (max-width:500px) {

   .flex-container {
    width: 20px; height: 20px; margin: 0 15px 5px 0;
    margin-left: 15px;
   }
   .logo-img{
    height: 8vh;
    width: 30vh;
    margin-top: 1px;
    margin: 0;
    padding-left: 5%;
}
}
@media screen and (max-width:750px) {

  .flex-container {
   width: 20px; height: 20px; margin: 0 15px 5px 0;
   margin-left: 15px;
  }
  .logo-img{
   height: 8vh;
   width: 30vh;
   margin-top: 1px;
   margin: 0;
   padding-left: 5%;
}
}